<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>


    <% if !logged_in?%>
      <%# unless params[:action] ==  %>
      <form action="<%= new_session_url %> " method="post">
        <input type="submit" value="Log In">
      </form>

      <form action=" <%= new_user_url %> " method="post">
        <input type="submit" value="Sign Up">
      </form>
    <% else %>
      <form action="<%= session_url%>" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Sign Out">
      </form>
    <% end %>

    <%= yield %>
  </body>
</html>
